<header>
    page header

    <ul>
        <% if(locals.user){ %>
        <Li><%= user.name%></Li>
        <li>
            <a href="/users/sign-out">Sign-Out</a>
        </li>
        <%}else%{>
            <li>
                <a href="/users/sign-out">Sign-In</a>
            </li>
            
            <li>
                <a href="/users/sign-out">Sign-Up</a>
            </li>

            <%}%>
            
    </ul>

</header>

